[Desktop Entry]
Name=pygmalion1
Comment=My application which does this
Icon=/usr/share/pixmaps/openbox.xpm
Exec=/usr/bin/node /home/pi/maslow/pygmalion1.js 
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;
